.display {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
}

.actionbar-container {
  position: absolute;
  top:45px;
  left: 50%;
  transform: translate(-50%, 0);
}

.phase-display-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}


