<div class="display" fxLayout="column" fxLayout.lt-lg="row" fxLayoutGap="0.5vw" fxLayoutAlign="center center"
     fxLayoutAlign.lt-lg="start center">

  <div class="phase-display-container" fxLayout="row" fxLayoutGap="0" *ngIf="gameStateView">
    <app-actioncounter
      *ngIf="gameStateView.phase===gamePhases.PLAYER_ACTION || gameStateView.phase===gamePhases.END_TURN"
      [gameStateView]="gameStateView">
    </app-actioncounter>


    <ng-container *ngTemplateOutlet="dumpmessage; context: gameStateView|getDumpContext"></ng-container>

    <app-dumpphase
      *ngIf="gameStateView.phase===gamePhases.DESTROY"
      [message]="'Vous devez détruire un centre de recherche (6 max.)'"></app-dumpphase>

    <app-epidemic *ngIf="gameStateView.phase===gamePhases.SOLVE_EPIDEMIC"></app-epidemic>

  </div>

  <app-actionbar class="actionbar-container"></app-actionbar>

</div>


<ng-template #dumpmessage let-player="player" let-nCards="nCards">
  <app-dumpphase *ngIf="gameStateView.phase===gamePhases.DUMP_CARD"
                 [message]="player + ' doit jeter ' + nCards + ' cartes!'"></app-dumpphase>
</ng-template>
